name: Build app
on:
  workflow_call:
    inputs:
      runs-on:
        required: false
        type: string
        description: Miljø versjon som skal brukes til bygg.
        default: 'ubuntu-latest'
      t-2c:
        required: false
        type: string
        description: Tråd konfig til maven.
        default: ''
      java-version:
        required: false
        type: string
        description: Java SDK versjon som skal brukes.
        default: '25'
      sonar-scan:
        required: false
        type: boolean
        description: Skal sonar scan brukes?
        default: true
      use-reader:
        required: false
        type: boolean
        description: Hvilket token skal brukes?
        default: false
      working-directory:
        required: false
        default: .
        type: string
    outputs:
      build-version:
        description: "Build version"
        value: ${{ jobs.build-and-test.outputs.build-version }}
jobs:
  build-and-test:
    name: Build and test
    runs-on: ${{ (github.event.pull_request.user.login == 'dependabot[bot]' && 'ubuntu-latest') || inputs.runs-on }}
    outputs:
      build-version: ${{ steps.build-and-test.outputs.build-version }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # ratchet:actions/checkout@v4
        with:
          fetch-depth: 0 # checkout gir shallow copy - fetch-depth: 0 vil tilgjengeliggjøre tags
      - name: Setup java and maven
        uses: navikt/fp-gha-workflows/.github/actions/setup-java-and-maven@main # ratchet:exclude
        with:
          github-token: ${{ (github.actor != 'dependabot[bot]' && inputs.use-reader && secrets.READER_TOKEN) || secrets.GITHUB_TOKEN }}
          java-version: ${{ inputs.java-version }}
          working-directory: ${{ inputs.working-directory }}
      - name: Maven install and test
        id: build-and-test
        uses: navikt/fp-gha-workflows/.github/actions/build-maven-application@main # ratchet:exclude
        with:
          t-2c: ${{ inputs.t-2c }}
          working-directory: ${{ inputs.working-directory }}
        env:
          TESTCONTAINERS_REUSE_ENABLE: true
      - name: Clean up generated stuff before caching
        run: |
          if [[ -d "~/.m2/repository/no/nav/foreldrepenger" ]]; then
            rm ~/.m2/repository/no/nav/foreldrepenger -r
          fi
