name: Deploy storybook
on:
  workflow_call:
    secrets:
      READER_TOKEN:
        description: "A token passed from the caller workflow"
        required: true
    inputs:
      package-manager:
        required: true
        type: string
        description: Package manager som skal brukes (pnpm|yarn)
      cache:
        required: true
        type: string
        description: Cache som skal brukes (turbo/lerna). Lerna er ikke implementert

jobs:
  deploy-storybook:
    name: Deploy storybook ${{ inputs.package-manager }}
    permissions:
      contents: write
      pages: write
      id-token: write
    runs-on: 'ubuntu-latest'
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # ratchet:actions/checkout@v6

      - name: Cache turbo build setup
        if: inputs.cache == 'turbo'
        id: hent-cache
        uses: actions/cache/restore@9255dc7a253b0ccc959486e2bca901246202afeb # ratchet:actions/cache/@v5
        with:
          path: .turbo
          key: ${{ runner.os }}-turbo-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-turbo-

      - uses: navikt/fp-gha-workflows/.github/actions/setup-yarnrc@main # ratchet:navikt/fp-gha-workflows/.github/actions/setup-yarnrc@main
        if: inputs.package-manager == 'yarn'
        with:
          npmAuthToken: ${{ secrets.READER_TOKEN }}

      - uses: navikt/fp-gha-workflows/.github/actions/setup-npmrc@main # ratchet:navikt/fp-gha-workflows/.github/actions/setup-npmrc@main
        if: inputs.package-manager == 'pnpm'
        with:
          npmAuthToken: ${{ secrets.READER_TOKEN }}

      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # ratchet:pnpm/action-setup@v4
        if: inputs.package-manager == 'pnpm'
        with:
          version: 10.28.0

      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # ratchet:actions/setup-node@v6
        with:
          node-version: 22.17.1
          cache: ${{ inputs.package-manager }}

      - name: Yarn install
        if: inputs.package-manager == 'yarn'
        run: |
          yarn install --immutable

      - name: Pnpm install
        if: inputs.package-manager == 'pnpm'
        run: |
          pnpm install --frozen-lockfile

      - name: Bygg Storybook
        if: inputs.package-manager == 'yarn'
        run: yarn build:storybook

      - name: Bygg Storybook
        if: inputs.package-manager == 'pnpm'
        run: pnpm build:storybook

      - uses: actions/configure-pages@983d7736d9b0ae728b81ab479565c72886d7745b # ratchet:actions/configure-pages@v5

      - uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b # ratchet:actions/upload-pages-artifact@v4
        with:
          path: ./.storybook-static-build

      - uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # ratchet:actions/deploy-pages@v4
        id: deployment

      - name: Save turbo cache
        if: always() && inputs.cache == 'turbo' && steps.hent-cache.outputs.cache-hit != 'true'
        uses: actions/cache/save@9255dc7a253b0ccc959486e2bca901246202afeb # ratchet:actions/cache/@v5
        with:
          key: ${{ steps.hent-cache.outputs.cache-primary-key }}
          path: .turbo
