name: Trivy
on:
  workflow_call:
    inputs:
      build-version:
        required: true
        type: string
        description: 'Build version of the produced image.'
      upload-sarif:
        required: false
        type: boolean
        description: Skal trivy og snyk publisere sarif til code ql security?
        default: true
jobs:
  trivy-monitor-docker:
    name: Docker
    if: github.ref_name == 'master'
    runs-on: 'ubuntu-latest'
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # ratchet:actions/checkout@v4
      - name: Login to GitHub Packages Docker Registry
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Henter image fra forrige steg
        run: docker pull ghcr.io/${{ github.repository }}/${{ inputs.build-version }}
      - name: Run Trivy vulnerability scanner non-public repo
        if: inputs.upload-sarif == false
        uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # ratchet:aquasecurity/trivy-action@0.33.1
        env:
          TRIVY_JAVA_DB_REPOSITORY: "public.ecr.aws/aquasecurity/trivy-java-db:1"
        with:
          security-checks: 'vuln'
          image-ref: 'ghcr.io/${{ github.repository }}/${{ inputs.build-version }}'
          format: 'table'
          exit-code: '1'
          severity: 'HIGH,CRITICAL'
          limit-severities-for-sarif: true
      - name: Run Trivy vulnerability scanner for container
        if: inputs.upload-sarif
        uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # ratchet:aquasecurity/trivy-action@0.33.1
        env:
          TRIVY_JAVA_DB_REPOSITORY: "public.ecr.aws/aquasecurity/trivy-java-db:1"
        with:
          security-checks: 'vuln'
          image-ref: 'ghcr.io/${{ github.repository }}/${{ inputs.build-version }}'
          format: 'sarif'
          output: 'trivy.sarif'
          severity: 'HIGH,CRITICAL'
          limit-severities-for-sarif: true
      - name: Upload Trivy scan results to GitHub Security tab
        if: always() && inputs.upload-sarif
        uses: github/codeql-action/upload-sarif@5d4e8d1aca955e8d8589aabd499c5cae939e33c7 # ratchet:github/codeql-action/upload-sarif@v2
        with:
          sarif_file: 'trivy.sarif'
