name: Trivy
on:
  workflow_call:
    inputs:
      build-version:
        required: true
        type: string
        description: 'Build version of the produced image.'
      upload-sarif:
        required: false
        type: boolean
        description: Skal trivy og snyk publisere sarif til code ql security?
        default: true
jobs:
  trivy-monitor-docker:
    name: Docker
    if: github.ref_name == 'master'
    runs-on: 'ubuntu-latest'
    steps:
      - name: Checkout code
        uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # ratchet:actions/checkout@v4
      - name: Login to GitHub Packages Docker Registry
        uses: docker/login-action@e92390c5fb421da1463c202d546fed0ec5c39f20
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Henter image fra forrige steg
        run: docker pull ghcr.io/${{ github.repository }}/${{ inputs.build-version }}
      - name: Run Trivy vulnerability scanner non-public repo
        if: inputs.upload-sarif == false
        uses: aquasecurity/trivy-action@d710430a6722f083d3b36b8339ff66b32f22ee55 # ratchet:aquasecurity/trivy-action@0.19.0
        with:
          security-checks: 'vuln'
          image-ref: 'ghcr.io/${{ github.repository }}/${{ inputs.build-version }}'
          format: 'table'
          exit-code: '1'
          severity: 'HIGH,CRITICAL'
          limit-severities-for-sarif: true
      - name: Run Trivy vulnerability scanner for container
        if: inputs.upload-sarif
        uses: aquasecurity/trivy-action@d710430a6722f083d3b36b8339ff66b32f22ee55 # ratchet:aquasecurity/trivy-action@0.19.0
        with:
          security-checks: 'vuln'
          image-ref: 'ghcr.io/${{ github.repository }}/${{ inputs.build-version }}'
          format: 'sarif'
          output: 'trivy.sarif'
          severity: 'HIGH,CRITICAL'
          limit-severities-for-sarif: true
      - name: Upload Trivy scan results to GitHub Security tab
        if: always() && inputs.upload-sarif
        uses: github/codeql-action/upload-sarif@d39d31e687223d841ef683f52467bd88e9b21c14 # ratchet:github/codeql-action/upload-sarif@v2
        with:
          sarif_file: 'trivy.sarif'
